:root {
    --bg-color: #121212;
    --additional-bg-color: #232d39;

    --main-text-color: #fff;
    --contast-text-color: #121212;

    --main-theme-color: #512da8;
    --secondary-theme-color: #512da8;
    --dark-theme-color: #311b92;
    --light-theme-color: #9575cd;
}