:root {
    --bg-color: #fff;
    --additional-bg-color: #f5f5f5;

    --main-text-color: #1d0029;
    --contast-text-color: #fff;

    --main-theme-color: #7023b7;
    --secondary-theme-color: #7023b7;
    --dark-theme-color: #311b92;
    --light-theme-color: #9575cd;
}